/**
 * @file
 * Block Styling
 */


.block { /* Block wrapper */
  padding:5px;
  margin-bottom: 1.5em;
  /* radius */
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  border:1px solid #f9f9f9;
}

.block.first { /* The first block in the region */
}

.block.last { /* The last block in the region */
}

.block.odd { /* Zebra striping for each block in the region */
background-color:#e7eefc;
}

.block.even { /* Zebra striping for each block in the region */
background-color:#c2cff1;
}

.region-sidebar-first .block,
.region-sidebar-second .block,
#footer .block {
background:transparent !important;
border:none !important;
}

#footer .block {
margin:0;
padding:0;
}

h2.block-title { /* Block title */
margin:0 0 5px 0;
padding:0 0 5px 0;
line-height:1em;
border-bottom:dotted 1px #FFFFFF;
}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent table{ /* "Recent content" block */
margin:0 auto 5px auto;
width:99%;
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

.region-search-box #block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu{ /* "Main menu" block */

}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-system-main-menu ul,
#block-search-form .form-item,
#block-user-login .form-item,
#block-user-login ul{ /* "User login form" block */
margin:0 0 5px 0;
}

#block-user-login input[type="text"],
#block-user-login input[type="password"]{
width:95%;
}

#block-user-login input[type="submit"]{
width:100%;
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}
