/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

/*
 * Center the page.
 */

#page,
#navigation,
#footer,
#secondary-menu,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#main, .wrapper {
  max-width:96%;
  margin:0 auto;
}

#header-right{
  float:right;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */

#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/*
 * Containers for grid items and flow items.
 */

#header,
#main,
#footer {
  *position: relative;
  *zoom: 1;
}
#header:before, #header:after,
#main:before, #main:after,
#footer:before, #footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}

#content {
padding:10px;
margin-bottom:1.5em;
}

@media all and (min-width: 800px) {
  #main, #navigation {
    position: relative;
  }

  #secondary-menu{
    float:right;
    width:40%;
    text-align:right;
  }
  
  /** The layout when there are two sidebars. **/
  /*********************************************/

  .two-sidebars #content { /* Span 3 columns, starting in 2nd column from left. */
    float: left;
    width: 67%;
    margin:10px 0 10px 10px;
    
  }
  .two-sidebars .sidebars{
    float:right;
    width:30%;
    margin:10px 10px 10px 0;
  }
  .two-sidebars .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 50%;
  }
  .two-sidebars .region-sidebar-second { /* Span 1 column, starting in 5th column from left. */
    float: right;
    width: 50%;
  }
  
  /** The layout when there is only one sidebar. **/
  /************************************************/
  .one-sidebar .sidebars{
    float:right;
    width:40%;
    margin:10px 10px 10px 0;
  }
  
  /* When sidebar-first is active */
  .sidebar-first #content,
  .sidebar-second #content { /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 57%;
    margin:10px 0 10px 10px;
  }
  .sidebar-first .region-sidebar-top{
    float:right;
    width:60%;
  }
  .sidebar-first .region-sidebar-first{
    padding-left:0;
    padding-right:10px;
    width:40%;
  }
  
  /* When sidebar-second is active */
  .sidebar-second .region-sidebar-top{
    float:left;
    width:58%;
    margin-left:5px;
  }
  .sidebar-second .region-sidebar-second{
    padding-left:5px;
    padding-right:0;
    width:40%;
    float:right;
  }
}

@media all and (max-width: 800px) {
  #main {
    padding:10px;
  }
  #footer{
    text-align:center;
  }
}

@media all and (min-width: 600px) and (max-width: 800px) {
  .region-sidebar-top,
  .region-sidebar-first,
  .region-sidebar-second{
    width:50%;
  }
  .region-sidebar-top{
    float:left;
  }
  .region-sidebar-first,
  .region-sidebar-second{
   float:right;
  }
}

@media all and (min-width: 800px) and (max-width: 1024px) {
  .two-sidebars .region-sidebar-first,
  .two-sidebars .region-sidebar-second{
    float:none;
    width:auto;
  }  
}