body {
background-color:#eef3fa;
}

#header {
background-color:#1484ce;
filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF1484CE', endColorstr='#FF1274B5');
background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1484ce), color-stop(100%, #1274b5));
background-image:-webkit-linear-gradient(top, #1484ce 0%,#1274b5 100%);
background-image:-moz-linear-gradient(top, #1484ce 0%,#1274b5 100%);
background-image:-o-linear-gradient(top, #1484ce 0%,#1274b5 100%);
background-image:-ms-linear-gradient(top, #1484ce 0%,#1274b5 100%);
background-image:linear-gradient(top, #1484ce 0%,#1274b5 100%);
-webkit-box-shadow:0 2px 0 #0e5a8c;
box-shadow:0 2px 3px #0e5a8c;
border-bottom:solid 1px rgba(255,255,255,0.1);
border-top:solid 5px #01559F;
}

.feed {
height:48px;
width:48px;
padding:0 1px 1px 5px;
background-color:#01559F;
border-right:1px solid #3E92C7;
border-bottom:1px solid #3E92C7;
border-left:1px solid #3E92C7;
/* radius */
-webkit-border-radius:0 0 5px 5px; 
-moz-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;
}

#main {
border:1px solid #f9f9f9;
background-color:#d5dcee;
/*shadow*/
-webkit-box-shadow:0 0 5px #CCCCCC;
-moz-box-shadow:0 0 5px #CCCCCC;
box-shadow:0 0 5px #CCCCCC;
/* radius */
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
}

#content {
background-color:white;
/* radius */
-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;
}

/*
#footer {
background-color:#1484ce;
filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF1484CE', endColorstr='#FF1274B5');
background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1484ce), color-stop(100%, #1274b5));
background-image:-webkit-linear-gradient(top, #1484ce 0%,#1274b5 100%);
background-image:-moz-linear-gradient(top, #1484ce 0%,#1274b5 100%);
background-image:-o-linear-gradient(top, #1484ce 0%,#1274b5 100%);
background-image:-ms-linear-gradient(top, #1484ce 0%,#1274b5 100%);
background-image:linear-gradient(top, #1484ce 0%,#1274b5 100%);
}
*/